<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.OrdersMapper">
    <!--删除选中-->
    <delete id="deleteSelect" parameterType="list">
        delete from orders
        <where>
            <foreach collection="array" open=" id in(" close=")" item="oid" separator=",">
                #{oid}
            </foreach>
        </where>
    </delete>

    <!--修改订单状态为关闭-->
    <update id="updateStatusToClose" parameterType="list">
        update orders set orderStatus = 0
        <where>
            <foreach collection="array" open=" id in(" close=")" item="oid" separator=",">
                #{oid}
            </foreach>
        </where>
    </update>

    <!--修改订单状态为开启-->
    <update id="updateStatusToOpen" parameterType="list">
        update orders set orderStatus = 1
        <where>
            <foreach collection="array" open=" id in(" close=")" item="oid" separator=",">
                #{oid}
            </foreach>
        </where>
    </update>

</mapper>