<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.ProductMapper">

    <!--删除选中-->
    <delete id="deleteSelect" parameterType="list">
        delete from product
        <where>
            <foreach collection="array" open=" id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </delete>

    <!--修改选中状态至关闭-->
    <update id="updateSelectStatusToClose" parameterType="list">
        update product set productStatus = 0
        <where>
            <foreach collection="array" open=" id in(" close=")" item="pid" separator=",">
                #{pid}
            </foreach>
        </where>
    </update>

    <!--修改选中状态至开启-->
    <update id="updateSelectStatusToOpen" parameterType="list">
        update product set productStatus = 1
        <where>
            <foreach collection="array" open=" id in(" close=")" item="pid" separator=",">
                #{pid}
            </foreach>
        </where>
    </update>


</mapper>