<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--包扫描-->
    <context:component-scan base-package="com.itheima"/>

    <!--引入数据库外部资源文件-->
    <context:property-placeholder location="classpath:druid.properties"/>

    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置mybatis-->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置别名-->
        <property name="typeAliasesPackage" value="com.itheima.domain"/>
        <!--配置分页助手插件-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <props>
                            <!--选择数据库方言-->
                            <prop key="helperDialect">mysql</prop>
                            <!--
                                reasonable：默认值是false
                                true:自动处理首页和尾页，如果是第一页，再点上一页还是第一页不需要在前端去做是否为首页的判断
                                    如果是尾页，再点下一页还是最后一页，也不需要在前端做是否为尾页的判断
                            -->
                            <prop key="reasonable">true</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <!--Mapper扫描器获取Mapper代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.itheima.mapper"/>
    </bean>

    <!--声明事务管理对象-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!--声明通知-->
    <!--<tx:advice id="advice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" read-only="false" isolation="DEFAULT"/>
            <tx:method name="find*" read-only="true"/>
        </tx:attributes>
    </tx:advice>-->

    <!--aop织入-->
    <!--<aop:config>
        <aop:pointcut id="pid" expression="execution(* com.itheima.service.impl.*.*(..))"/>
        <aop:advisor advice-ref="advice" pointcut-ref="pid"/>
    </aop:config>-->

    <!-- dubbo相关配置 -->
    <!-- 1.起一个应用名称，名称要求唯一 -->
    <dubbo:application name="dubbo_service"/>
    <!-- 2.配置关联注册中心, 本地zookeeper注册中心 -->
    <dubbo:registry address="zookeeper://192.168.10.128:2181"/>
    <!-- 3.配置协议和端口号，服务应用 -->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>
    <!-- 4.注解扫描：@Service实现发布服务-->
    <dubbo:annotation package="com.itheima.service"/>
</beans>